@using Health.Core.Entities.POCO
@using Health.Site.Extensions
@model IEnumerable<Candidate>

@if (Model.IsNullOrCountIsZero())
{
    <h2>Кандидатов нет</h2>
}
else
{
    Candidate cand = Model.ElementAt(0);
    <table>
        <tr>
            <td>@Html.LabelFor(m => cand.Id)</td>
            <td>@Html.LabelFor(m => cand.Login)</td>
            <td>@Html.LabelFor(m => cand.Card)</td>
            <td>@Html.LabelFor(m => cand.Policy)</td>
            <td colspan="3">Функции</td>
        </tr>
        @foreach (Candidate candidate in Model)
        {
            <tr>
                <td>@candidate.Id</td>
                <td>@candidate.Login</td>
                <td>@candidate.Card</td>
                <td>@candidate.Policy</td>
                <td>@Html.RouteLink("Подробнее", "Admin_default", new
                                                        {
                                                            id = candidate.Id,
                                                            controller = "Candidates",
                                                            action = "Show"
                                                        })</td>
                <td>@Html.RouteLink("Принять заявку", "Admin_default", new
                                                             {
                                                                 id = candidate.Id,
                                                                 controller = "Candidates",
                                                                 action = "AcceptBid"
                                                             })</td>
                <td>@Html.RouteLink("Отклонить заявку", "Admin_default", new
                                                               {
                                                                   id = candidate.Id,
                                                                   controller = "Candidates",
                                                                   action = "RejectBid"
                                                               })</td>
            </tr>
        }
    </table>
}