@using Health.Site.Areas.Admin.Models
@model CandidateAcceptForm
@{
    ViewBag.Title = "Подтверждение заявки на регистрацию";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.Candidate.Id)
    @Html.DisplayFor(m => m.Candidate)
    <fieldset>    
        <legend>@Html.LabelFor(m => m.Doctor)</legend>
        <p>@Html.DropDownListFor(m => m.Doctor.Id, Model.DoctorsSelectList)</p>
    </fieldset>
    <input type="submit" value="Send" />
}