@model Health.Site.Areas.Admin.Models.Forms.VarFormModel

@{
    ViewBag.Title = "AddVariant";
}

<h2>AddVariant</h2>
<h2>На этой форме надо перечислить варианты ответов на параметр "@Html.Encode(Model.Parameter.Name)"</h2>
@using (Html.BeginForm("Addingvariant", "Parameters", new { area = "Admin" }))
{
    <table cellspacing="0">
    <tr>
    <th></th>
    <th>Variants</th>
    <th>Balls</th>
    </tr>
    @Html.HiddenFor(z => z.NumVariant)
    @for (int i = 0; i < Model.Variants.Length; i++)
    {
        <tr>
        <td>Variant # @Html.Encode(i + 1)</td>
       
        <td> @Html.ValidationMessageFor(x => x.Variants[i].Value)
        @Html.TextBoxFor(x => x.Variants[i].Value)</td>
        <td>
        @Html.ValidationMessageFor(x => x.Variants[i].Ball)
        @Html.TextBoxFor(x => x.Variants[i].Ball)</td>
        </tr>
    }
    </table>
    <input type="submit" value="Send" />
}