@model Health.Site.Areas.Admin.Models.ParametersViewModel

@{
    ViewBag.Title = "ShowAll";
}

@helper ShowParameter (Health.Core.Entities.POCO.Parameter parameter)
{
   <td>
   <p>Id = 
   @Html.Encode(parameter.Id)</p></td>

    <td>
   <p>Name: 
   @Html.Encode(parameter.Name)</p>

   <p>DefaultValue = 
 
    @parameter.DefaultValue </p>

   <p>Value = 
  

@parameter.Value</p>
<strong>@Html.RouteLink("Ред.", "Parameters_Editing_Edit", new
           {
           parameter_id = parameter.Id})</strong>
</td>
}

<h2>Таблица просмотра всех параметров</h2>
<table border="1" cellspacing="1">
<tr><th>Id параметра здоровья</th>
<th>Общие характристики параметра</th>
@foreach (var item in Model.parameters)
{
   <tr>
    @ShowParameter(item)
   
   </tr>
}
</table>