@using Health.Core.Entities.POCO
@using Health.Site.Extensions
@model Doctor

<p>@Html.LabelFor(m => m.Login): @Model.Login</p>
<p>@Html.LabelFor(m => m.Password): @Model.Password</p>
<p>@Html.LabelFor(m => m.FullName): @Model.FullName</p>
<p>@Html.LabelFor(m => m.Specialty): @Model.Specialty.Name</p>
@if (Model.WorkWeek != null)
{
    <fieldset>
        <legend>@Html.LabelFor(m => m.WorkWeek)</legend>
        <p>@Html.DisplayFor(m => m.WorkWeek)</p>
    </fieldset>
}
else
{
    <h2>Рабочая неделя не определена</h2>
}

@if (Model.Patients.IsNullOrCountIsZero())
{
    <h2>Пациентов нет.</h2>
}
else
{
    <fieldset>
        <legend>@Html.LabelFor(m => m.Patients)</legend>
        @foreach (Patient patient in Model.Patients)
        {
            <p>@patient.FullName</p>
        }
    </fieldset>
}