@model ScheduleViewModel

@using System.Collections
@using Health.Core.Entities.POCO
@using Health.Site.Areas.Schedule.Models
@using Health.Site.Helpers;

@{
    ViewBag.Title = "Дефолтные расписания.";
}

<h2>@ViewBag.Title</h2>


@{IEnumerable<DefaultSchedule> default_schedules = Model.DefaultScheduleForm.DefaultSchedules;}
<table>
    @foreach (DefaultSchedule default_schedule in default_schedules)
    {
        <tr>
            <td>@default_schedule.Parameter.Name</td>
            <td>@default_schedule.Period.Years</td>
            <td>@default_schedule.TimeStart</td>
            <td>@default_schedule.TimeEnd</td>
        </tr>
    }
</table> 


@Html.Table(Model.DefaultScheduleForm.DefaultSchedules, typeof(DefaultSchedule))
