@using Health.Site.Areas.Schedules.Models
@model PersonalScheduleForm
           
@Html.ValidationSummary(true)
<fieldset>
    <legend>@Html.LabelFor(m => m.PersonalSchedule.Parameter)</legend>
    <p>@Html.DropDownListFor(m => m.PersonalSchedule.Parameter.Id, Model.ParametersSelectList) 
    @Html.ValidationMessageFor(m => m.PersonalSchedule.Parameter.Id)</p>
</fieldset>

<fieldset>
    <legend>@Html.LabelFor(m => m.PersonalSchedule.Patient)</legend>    
    <p>@Html.DropDownListFor(m => m.PersonalSchedule.Patient.Id, Model.PatientsSelectList)</p>
</fieldset>

<fieldset>
    <legend>Промежуток времени</legend>
    <p>@Html.LabelFor(m => m.PersonalSchedule.DateStart)</p>
    <p>@Html.EditorFor(m => m.PersonalSchedule.DateStart) @Html.ValidationMessageFor(m => m.PersonalSchedule.DateStart)</p>
    <p>@Html.LabelFor(m => m.PersonalSchedule.DateEnd)</p>
    <p>@Html.EditorFor(m => m.PersonalSchedule.DateEnd) @Html.ValidationMessageFor(m => m.PersonalSchedule.DateEnd)</p>
    <p>@Html.LabelFor(m => m.PersonalSchedule.TimeStart)</p>
    <p>@Html.EditorFor(m => m.PersonalSchedule.TimeStart) @Html.ValidationMessageFor(m => m.PersonalSchedule.TimeStart)</p>
    <p>@Html.LabelFor(m => m.PersonalSchedule.TimeEnd)</p>
    <p>@Html.EditorFor(m => m.PersonalSchedule.TimeEnd) @Html.ValidationMessageFor(m => m.PersonalSchedule.TimeEnd)</p>
</fieldset>

<fieldset>
    <legend>@Html.LabelFor(m => m.PersonalSchedule.Day)</legend>
    <p>@Html.LabelFor(m => m.PersonalSchedule.Day.InMonth)
        @Html.DropDownListFor(m => m.PersonalSchedule.Day.InMonth, Model.AllDaysInMonth)
        @Html.ValidationMessageFor(m => m.PersonalSchedule.Day.InMonth)</p>
    <p>@Html.LabelFor(m => m.PersonalSchedule.Day.InWeek)
        @Html.DropDownListFor(m => m.PersonalSchedule.Day.InWeek, Model.AllDaysInWeek)
        @Html.ValidationMessageFor(m => m.PersonalSchedule.Day.InWeek)</p>
</fieldset>

<fieldset>
    <legend>@Html.LabelFor(m => m.PersonalSchedule.Week)</legend>
    <p>@Html.LabelFor(m => m.PersonalSchedule.Week.InMonth)</p>
    <p>@Html.EditorFor(m => m.PersonalSchedule.Week.InMonth) @Html.ValidationMessageFor(m => m.PersonalSchedule.Week.InMonth)</p>
    <p>@Html.LabelFor(m => m.PersonalSchedule.Week.Parity)</p>
    <p>@Html.DropDownListFor(m => m.PersonalSchedule.Week.Parity, Model.WeekParities)
        @Html.ValidationMessageFor(m => m.PersonalSchedule.Week.Parity)</p>
</fieldset>

<fieldset>
    <legend>@Html.LabelFor(m => m.PersonalSchedule.Month)</legend>
    <p>@Html.LabelFor(m => m.PersonalSchedule.Month.InYear)
        @Html.DropDownListFor(m => m.PersonalSchedule.Month.InYear, Model.AllMonthsInYear)
        @Html.ValidationMessageFor(m => m.PersonalSchedule.Month.InYear)</p>
</fieldset>