@model Health.Site.Models.CoreViewModel
@using Health.API.Entities
@{
    ViewBag.Title = "Домашняя страница";
}

<h2>@ViewBag.Message</h2>
<p>
    Для получения дополнительных сведений о ASP.NET MVC посетите веб-сайт <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
<h2>Роли на сервере:</h2>
@{
    var roles = (IEnumerable<IRole>)ViewData["Roles"]; 
}
<ul>
    @foreach (var role in roles)
    {
        <li>@role.Name</li>
    }
</ul>

<h2>Число кандидатов: @ViewBag.CountCandidates</h2>

<h2>Новая роль: @ViewBag.NewRole.Name</h2>

<h2>Имя переменной: @ViewBag.VarName</h2>

<h2>DIKernel is:@*if (Model.DIKernel == null)
                {
                    @:null.
                }
                else
                {
                    @:not null.
                }*@</h2>