@using Health.Core.Entities.POCO
@model Patient

<p>@Html.LabelFor(m => m.Login)</p>
<p>@Html.EditorFor(m => m.Login) @Html.ValidationMessageFor(m => m.Login)</p>
<p>@Html.LabelFor(m => m.Password)</p>
<p>@Html.EditorFor(m => m.Password) @Html.ValidationMessageFor(m => m.Password)</p>
<p>@Html.LabelFor(m => m.FirstName)</p>
<p>@Html.EditorFor(m => m.FirstName) @Html.ValidationMessageFor(m => m.FirstName)</p>
<p>@Html.LabelFor(m => m.LastName)</p>
<p>@Html.EditorFor(m => m.LastName) @Html.ValidationMessageFor(m => m.LastName)</p>
<p>@Html.LabelFor(m => m.ThirdName)</p>
<p>@Html.EditorFor(m => m.ThirdName) @Html.ValidationMessageFor(m => m.ThirdName)</p>
<p>@Html.LabelFor(m => m.Birthday)</p>
<p>@Html.EditorFor(m => m.Birthday) @Html.ValidationMessageFor(m => m.Birthday)</p>
<p>@Html.LabelFor(m => m.Policy)</p>
<p>@Html.EditorFor(m => m.Policy) @Html.ValidationMessageFor(m => m.Policy)</p>
<p>@Html.LabelFor(m => m.Card)</p>
<p>@Html.EditorFor(m => m.Card) @Html.ValidationMessageFor(m => m.Card)</p>