@using Health.Core.Entities.POCO
@model Patient

<p>@Html.LabelFor(m => m.Login): @Model.Login</p>
<p>@Html.LabelFor(m => m.FirstName): @Model.FirstName</p>
<p>@Html.LabelFor(m => m.LastName): @Model.LastName</p>
<p>@Html.LabelFor(m => m.ThirdName): @Model.ThirdName</p>
<p>@Html.LabelFor(m => m.Card): @Model.Card</p>
<p>@Html.LabelFor(m => m.Policy): @Model.Policy</p>