@using Health.Site.Areas.Account.Models
@model RegistrationForm

@{
    ViewBag.Title = "Заявка на регистрацию";
}
@using (Html.BeginForm("RegistrationSubmit", "Registration", new {area = "Account"}))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Заявка на регистрацию</legend>
        <p>@Html.LabelFor(m => m.Candidate.FirstName)</p>
        <p>@Html.EditorFor(m => m.Candidate.FirstName) @Html.ValidationMessageFor(m => m.Candidate.FirstName)</p>
        <p>@Html.LabelFor(m => m.Candidate.LastName)</p>
        <p>@Html.EditorFor(m => m.Candidate.LastName) @Html.ValidationMessageFor(m => m.Candidate.LastName)</p>
        <p>@Html.LabelFor(m => m.Candidate.ThirdName)</p>
        <p>@Html.EditorFor(m => m.Candidate.ThirdName) @Html.ValidationMessageFor(m => m.Candidate.ThirdName)</p>
        <p>@Html.LabelFor(m => m.Candidate.Login)</p>
        <p>@Html.EditorFor(m => m.Candidate.Login) @Html.ValidationMessageFor(m => m.Candidate.Login)</p>
        <p>@Html.LabelFor(m => m.Candidate.Password)</p>
        <p>@Html.EditorFor(m => m.Candidate.Password) @Html.ValidationMessageFor(m => m.Candidate.Password)</p>
        <p>@Html.LabelFor(m => m.Candidate.Birthday)</p>
        <p>@Html.EditorFor(m => m.Candidate.Birthday) @Html.ValidationMessageFor(m => m.Candidate.Birthday)</p>
        <p>@Html.LabelFor(m => m.Candidate.Policy)</p>
        <p>@Html.EditorFor(m => m.Candidate.Policy) @Html.ValidationMessageFor(m => m.Candidate.Policy)</p>
        <p>@Html.LabelFor(m => m.Candidate.Card)</p> 
        <p>@Html.EditorFor(m => m.Candidate.Card) @Html.ValidationMessageFor(m => m.Candidate.Card)</p>
        <p><input type="submit" value="Register" /></p>        
    </fieldset>
}