@model Health.Site.Areas.Parameters.Models.ParametersViewModel

@{
    ViewBag.Title = "Edit2";
}

<h2>Edit2</h2>
@using (Html.BeginForm("Var", "Add", new { area = "Parameters" }))
{
    <h4><p>@Html.LabelFor(x => x.NextAddForm.Age)</p>
    <p>@Html.ValidationMessageFor(x => x.NextAddForm.Age)</p>
    <p>@Html.TextBoxFor(x => x.NextAddForm.Age)</p></h4>
    
    <h4>
    <p>@Html.LabelFor(x => x.NextAddForm.Obligation)
    @Html.CheckBoxFor(x => x.NextAddForm.Obligation)</p>
    </h4>
    
    <h4><p>@Html.LabelFor(x => x.NextAddForm.Period)</p>
    <p>@Html.ValidationMessageFor(x => x.NextAddForm.Period)</p>
    <p>@Html.TextBoxFor(x => x.NextAddForm.Period)</p></h4>
    
    <h4><p>@Html.LabelFor(x => x.NextAddForm.NumVariant)</p>
    <p>@Html.ValidationMessageFor(x => x.NextAddForm.NumVariant)</p>
    @{
    var httmlAtributes = new Dictionary<string, object>();
    if (!Model.NewParam.MetaData.Is_var)
    {
        httmlAtributes.Add("disabled", "disabled");
        httmlAtributes.Add("value", "null");
    }
    var htmlAttributesForParent = new Dictionary<string, object>();
    if(!Model.StartAddForm.Is_param)
    {
        htmlAttributesForParent.Add("disabled", "disabled");
        htmlAttributesForParent.Add("value", "null");
    }
}
    <p>@Html.TextBoxFor(x => x.NextAddForm.NumVariant, httmlAtributes)</p></h4>
    
    
    <h4><p>@Html.LabelFor(x => x.NextAddForm.Parents)</p>
    <p>@Html.TextBoxFor(x => x.NextAddForm.Parents, htmlAttributesForParent)</p>
    </h4>
    <input type="submit" value="Отправить" />
}
