@using Health.Core.Entities.POCO
@model Health.Site.Areas.Parameters.Models.Forms.AddFormModel

@{
    ViewBag.Title = "Edit";
    //TODO: В шапке таблицы вариантов прописать объединение последних двух столбцов
}

<h2>На этой странице можно отредактировать уже существующий параметр здоровья человека.</h2>
@using (Html.BeginForm("SaveEdit", "Editing", new { Area = "Parameters" }))
{
    <p>@Html.LabelFor(x => x.parameter.Name)</p>
    <p>@Html.ValidationMessageFor(x => x.parameter.Name)</p>
    <p>@Html.TextBoxFor(x => x.parameter.Name)</p>
    
    <p>@Html.LabelFor(x => x.parameter.Value)</p>
    <p>@Html.ValidationMessageFor(x => x.parameter.Value)</p>
    <p>@Html.TextBoxFor(x => x.parameter.Value)</p>
    
    <p>@Html.LabelFor(x => x.parameter.DefaultValue)</p>
    <p>@Html.ValidationMessageFor(x => x.parameter.DefaultValue)</p>
    <p>@Html.TextBoxFor(x => x.parameter.DefaultValue)</p>
    
    <p>@Html.LabelFor(x => x.parameter.MetaData.Is_childs) 
    @Html.CheckBoxFor(x => x.parameter.MetaData.Is_childs)</p>

    @ShowVariant(Model.parameter.MetaData.Is_var);
                  
    <p>@Html.LabelFor(x => x.parameter.MetaData.Age)
     @Html.ValidationMessageFor(x => x.parameter.MetaData.Age)
    @Html.TextBoxFor(x => x.parameter.MetaData.Age)
    </p>
    
    <p>@Html.LabelFor(x => x.parameter.MetaData.Id_cat)
    @Html.TextBoxFor(x => x.parameter.MetaData.Id_cat)
    </p>
    
    <p>@Html.LabelFor(x => x.parameter.MetaData.MaxValue)
    @Html.TextBoxFor(x => x.parameter.MetaData.MaxValue)
    </p>
    
    <p>@Html.LabelFor(x => x.parameter.MetaData.MinValue)
    @Html.TextBoxFor(x => x.parameter.MetaData.MinValue)</p>

    <h3>Отметьте для создаваемого вами параметра его подпараметры и параметры родители, если таковые есть.</h3>
    <table>
    <tr>
    <th>Id</th>
    <th>Имя параметра</th>
    <th>Явл-ся парам.-род.</th>
    <th>Явля-ся подпарам.</th>
    </tr>
    @for (int i = 0; i < Model.Parameters.Count; i++)
    {
        Model.CheckBoxesParents.Add(new bool());
        Model.CheckBoxesChildren.Add(new bool());

        for (var j = 0; j < Model.parameter.MetaData.Childs.Count; j++)
        {
            if (Model.parameter.MetaData.Childs[j] == Model.Parameters[i].Id)
            {
                Model.CheckBoxesChildren[i] = true;
            }
        }

        for (var k = 0; k < Model.parameter.MetaData.Parents.Count; k++)
        {
            if (Model.parameter.MetaData.Parents[k] == Model.Parameters[i].Id)
            {
                Model.CheckBoxesParents[i] = true;
            }
        }
       
        <tr>
        <td>@Html.DisplayTextFor(x => x.Parameters[i].Id)</td>
        <td>@Html.DisplayTextFor(x => Model.Parameters[i].Name)</td>
        <td>@Html.CheckBoxFor(x => x.CheckBoxesParents[i])</td>
        <td>@Html.CheckBoxFor(x => x.CheckBoxesChildren[i])</td>
        </tr>
    }
    </table>
    <input type="submit" value="Отправить" />
}

@helper ShowVariant(bool flag)
{
    <div>
    @if(flag == true)
    {
        
    }
    else
    {
        
    }
    
    </div>
}