@using Health.Core.Entities.POCO
@using Health.Site.Extensions
@model IEnumerable<Candidate>
  
@if (Model.IsNullOrCountIsZero())
{
    <h2>Кандидатов пока нету.</h2>
}
else
{
    <table>
        <tr>
            @{ Candidate cand = Model.ElementAt(0); }
            <td>@Html.LabelFor(m => cand.Id)</td>
            <td>@Html.LabelFor(m => cand.Login)</td>
            <td>@Html.LabelFor(m => cand.FirstName)</td>
            <td>@Html.LabelFor(m => cand.LastName)</td>
            <td>@Html.LabelFor(m => cand.ThirdName)</td>
            <td>@Html.LabelFor(m => cand.Card)</td>
            <td>@Html.LabelFor(m => cand.Policy)</td>
            <td colspan="2">Функции</td>
        </tr>
        @foreach (Candidate candidate in Model)
        {
            <tr>
                <td>@candidate.Id</td>
                <td>@candidate.Login</td>
                <td>@candidate.FirstName</td>
                <td>@candidate.LastName</td>
                <td>@candidate.ThirdName</td>
                <td>@candidate.Card</td>
                <td>@candidate.Policy</td>
                <td>@Html.RouteLink("Отклонить заявку", "Candidates_Crud_RejectBid", new
                                                                           {
                                                                               candidate_id = candidate.Id
                                                                           })</td>
                <td>@Html.RouteLink("Принять заявку", "Candidates_Crud_AcceptBid", new
                                                                         {
                                                                             candidate_id = candidate.Id
                                                                         })</td>
            </tr>
        }
    </table>
}