@using Health.Core.Entities.POCO
@using Health.Site.Models
@model AppointmentForm

@{
    ViewBag.Title = "Выбор доктора для записи";
}

<h2>@ViewBag.Title</h2>

@{ IEnumerable<Doctor> doctors = ViewBag.Doctors; }
@if (doctors.IsNullOrCountIsZero())
{
    <h2>К сожалению сейчас нет свободных докторов.</h2>
}
else
{
    Doctor doc = doctors.ElementAt(0);
    <table>
        <tr>
            <td>@Html.LabelFor(m => doc.FullName)</td>
            <td>@Html.LabelFor(m => doc.Specialty.Name)</td>
            <td>Расписание</td>
        </tr>
        @foreach (Doctor doctor in doctors)
        {
            <tr>
                <td>@doctor.FullName</td>
                <td>@doctor.Specialty.Name</td>
                <td>
                    @Html.RouteLink("Расписание", "Default_Appointment_DoctorSchedule", new
                                                                      {
                                                                          controller = "Appointment",
                                                                          action = "Doctor/Schedule",
                                                                          doctorId = doctor.Id,
                                                                          year = DateTime.Now.AddDays(1).Year,
                                                                          month = DateTime.Now.AddDays(1).Month,
                                                                          day = DateTime.Now.AddDays(1).Day
                                                                      })
                </td>
            </tr>
        }
    </table>
}