@using Health.Core.Entities.POCO
@using Health.Site.Models
@model CoreViewModel
@{
    var date = (DateTime) ViewBag.Date;
    ViewBag.Title = String.Format("Расписание доктора на {0}", date.ToShortDateString());
    Layout = "~/Views/Shared/_TwoColumns.cshtml";
}
@*<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#scheduleDatePicker").datepicker({
            changeMonth: true,
            changeYear: true,
            onSelect: function (dateText, inst) {
                var date = new Date(dateText);
                return  location(dateText);
            }
        }).datepicker("setDate", "@date.ToShortDateString()");
    });
</script>*@

@section module_menu{
    @{ DateTime nearDate = ViewBag.NearDate; }
    @Html.RouteLink("Ближайший свободный день", "Default_Appointment_DoctorSchedule", new
                                                                    {
                                                                        controller = "Appointment",
                                                                        action = "Doctor/Schedule",
                                                                        doctorId = (int) ViewBag.DoctorId,
                                                                        year = nearDate.AddDays(1).Year,
                                                                        month = nearDate.AddDays(1).Month,
                                                                        day = nearDate.AddDays(1).Day
                                                                    })

    @Html.MonthGrid(date)
}

<h2>@ViewBag.Title</h2>

<h2>
    @Html.RouteLink("Туда", "Default_Appointment_DoctorSchedule", new
                                                                    {
                                                                        controller = "Appointment",
                                                                        action = "Doctor/Schedule",
                                                                        doctorId = (int) ViewBag.DoctorId,
                                                                        year = date.AddDays(1).Year,
                                                                        month = date.AddDays(1).Month,
                                                                        day = date.AddDays(1).Day
                                                                    })
    @if (date > DateTime.Now.AddDays(1))
    {
        @Html.RouteLink("Сюда", "Default_Appointment_DoctorSchedule", new
                                                                    {
                                                                        controller = "Appointment",
                                                                        action = "Doctor/Schedule",
                                                                        doctorId = (int) ViewBag.DoctorId,
                                                                        year = date.AddDays(-1).Year,
                                                                        month = date.AddDays(-1).Month,
                                                                        day = date.AddDays(-1).Day
                                                                    })
    }
</h2>
@{ IEnumerable<Appointment> appointments = ViewBag.Appointments; }
@if (appointments.IsNullOrCountIsZero())
{
    <h2>К сожалению на @date.ToShortDateString() к доктору записи нет</h2>
}
else
{
    Appointment appo = appointments.ElementAt(0);
    <table>
        <tr>
            <td>@Html.LabelFor(m => appo.Date)</td>            
            <td>Запись</td>
        </tr>
        @foreach (Appointment appointment in appointments)
        {
            bool isFree = appointment.Id == default(int);
            <tr>
                <td>@appointment.Date</td>
                <td>                    
                    @if (isFree)
                    {
                        using (Html.BeginRouteForm("Default", new { action = "Registration", controller = "Appointment" }))
                        {
                            @Html.Hidden("doctorId", (object)ViewBag.DoctorId)
                            @Html.Hidden("date", appointment.Date)
                            <input type="submit" value="Записаться" />
                        }
                    }
                    else
                    {
                        @:Занято
                    }
                </td>
            </tr>
        }
    </table>
}