@using Health.Core.Entities.POCO
@using Health.Site.Areas.Schedules.Models
@model DefaultScheduleForm
           
@{
    Model.DefaultSchedule = Model.DefaultSchedule ?? new DefaultSchedule();
}
@Html.ValidationSummary(true)
<fieldset>
    <legend>@Html.LabelFor(m => m.DefaultSchedule.Parameter)</legend>
    <p>@Html.LabelFor(m => m.DefaultSchedule.Parameter.Name)</p>
    <p>@Html.DropDownListFor(m => m.DefaultSchedule.Parameter.Id, Model.ParametersSelectList) 
        @Html.ValidationMessageFor(m => m.DefaultSchedule.Parameter.Id)</p>
</fieldset>
<fieldset>
    <legend>@Html.LabelFor(m => m.DefaultSchedule.Period)</legend>
    @Html.EditorFor(m => m.DefaultSchedule.Period)    
    <p>@Html.LabelFor(m => m.DefaultSchedule.TimeStart)</p>
    <p>@Html.EditorFor(m => m.DefaultSchedule.TimeStart) @Html.ValidationMessageFor(m => m.DefaultSchedule.TimeStart)</p>
    <p>@Html.LabelFor(m => m.DefaultSchedule.TimeEnd)</p>
    <p>@Html.EditorFor(m => m.DefaultSchedule.TimeEnd) @Html.ValidationMessageFor(m => m.DefaultSchedule.TimeEnd)</p>
</fieldset>

<fieldset>
    <legend>@Html.LabelFor(m => m.DefaultSchedule.Day)</legend>
    <p>@Html.LabelFor(m => m.DefaultSchedule.Day.InMonth)
        @Html.DropDownListFor(m => m.DefaultSchedule.Day.InMonth, Model.AllDaysInMonth)
        @Html.ValidationMessageFor(m => m.DefaultSchedule.Day.InMonth)</p>
    <p>@Html.LabelFor(m => m.DefaultSchedule.Day.InWeek)
        @Html.DropDownListFor(m => m.DefaultSchedule.Day.InWeek, Model.AllDaysInWeek)
        @Html.ValidationMessageFor(m => m.DefaultSchedule.Day.InWeek)</p>
</fieldset>

<fieldset>
    <legend>@Html.LabelFor(m => m.DefaultSchedule.Week)</legend>
    <p>@Html.LabelFor(m => m.DefaultSchedule.Week.InMonth)</p>
    <p>@Html.EditorFor(m => m.DefaultSchedule.Week.InMonth) @Html.ValidationMessageFor(m => m.DefaultSchedule.Week.InMonth)</p>
    <p>@Html.LabelFor(m => m.DefaultSchedule.Week.Parity)</p>
    <p>@Html.DropDownListFor(m => m.DefaultSchedule.Week.Parity, Model.WeekParities)
        @Html.ValidationMessageFor(m => m.DefaultSchedule.Week.Parity)</p>
</fieldset>

<fieldset>
    <legend>@Html.LabelFor(m => m.DefaultSchedule.Month)</legend>
    <p>@Html.LabelFor(m => m.DefaultSchedule.Month.InYear)
        @Html.DropDownListFor(m => m.DefaultSchedule.Month.InYear, Model.AllMonthsInYear)
        @Html.ValidationMessageFor(m => m.DefaultSchedule.Month.InYear)</p>
</fieldset>