@using Health.API.Entities
@using Health.Site.Controllers
@using Health.Site.Areas.Account.Models
@model AccountViewModel

@{
    ViewBag.Title = "Interview";
}

<h2>Interview</h2>

@using (Html.BeginForm())
{
    @*Html.ValidationSummary()*@
    for (int i = 0; i < Model.InterviewForm.Parameters.Count(); i++)
    {
        IParameter param = Model.InterviewForm.Parameters.ToList()[i];
        <p>@Html.Label(param.Name)</p>
        const string format = "InterviewForm.Parameters[{0}].{1}";
        <p>
            @Html.TextBox(String.Format(format, i, param.PropertyName(x => x.Value)), param.Value)
            @Html.ValidationMessage("InterviewForm.Parameters[" + i + "].Value")
        </p>
        <p>@Html.Hidden(String.Format(format, i, param.PropertyName(x => x.Name)), param.Name)</p>
    }
    @Html.AntiForgeryToken()
    <input type="submit" value="Send" />
}