@model Health.Site.Models.AccountViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <p>@Html.LabelFor(x => x.LoginForm.Login)</p>
    <p>@Html.ValidationMessageFor(x => x.LoginForm.Login)</p>
    <p>@Html.TextBoxFor(x => x.LoginForm.Login)</p>
    <p>@Html.LabelFor(x => x.LoginForm.Password)</p>
    <p>@Html.PasswordFor(x => x.LoginForm.Password)</p>
    <p>@Html.LabelFor(x => x.LoginForm.RememberMe) @Html.CheckBoxFor(x => x.LoginForm.RememberMe) @Html.AntiForgeryToken()</p>
    <input type="submit" value="Send" />
}