@using Health.Core.Entities.POCO
@using Health.Site.Extensions

@model IEnumerable<User>

@if (Model.IsNullOrCountIsZero())
{
    <h2>А пользователей нету.</h2>
}
else
{
    <table>
        <tr>
            @{ User us = Model.ElementAt(0); }
            <td>@Html.LabelFor(m => us.Id)</td>
            <td>@Html.LabelFor(m => us.Login)</td>
            <td>@Html.LabelFor(m => us.Role)</td>
            <td colspan="3">Функции</td>
        </tr>
        @foreach (User user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Login</td>
                <td>@user.Role.Name</td>
                <td>@Html.RouteLink("Подробнее", "Admin_default", new
                                       {
                                           id = user.Id,
                                           controller = user.Role.Name + "s",
                                           action = "Show"
                                       })</td>
            </tr>
        }
    </table>
}