@using Health.Site.Areas.Admin.Models.Patients
@model PatientsForm

<p>@Html.LabelFor(m => m.Patient.Login): @Model.Patient.Login</p>
<p>@Html.LabelFor(m => m.Patient.FirstName): @Model.Patient.FirstName</p>
<p>@Html.LabelFor(m => m.Patient.LastName): @Model.Patient.LastName</p>
<p>@Html.LabelFor(m => m.Patient.ThirdName): @Model.Patient.ThirdName</p>
<p>@Html.LabelFor(m => m.Patient.Role.Name): @Model.Patient.Role.Name</p>