@using Health.Site.Areas.Admin.Models
@model PatientForm

<p>@Html.LabelFor(m => m.Patient.FirstName)</p>
<p>@Html.EditorFor(m => m.Patient.FirstName) @Html.ValidationMessageFor(m => m.Patient.FirstName)</p>
<p>@Html.LabelFor(m => m.Patient.LastName)</p>
<p>@Html.EditorFor(m => m.Patient.LastName) @Html.ValidationMessageFor(m => m.Patient.LastName)</p>
<p>@Html.LabelFor(m => m.Patient.ThirdName)</p>
<p>@Html.EditorFor(m => m.Patient.ThirdName) @Html.ValidationMessageFor(m => m.Patient.ThirdName)</p>
<p>@Html.LabelFor(m => m.Patient.Doctor)</p>
<p>@Html.DropDownListFor(m => m.Patient.Doctor.Id, Model.DoctorSelectList)</p>
<p>@Html.LabelFor(m => m.Patient.Birthday)</p>
<p>@Html.EditorFor(m => m.Patient.Birthday) @Html.ValidationMessageFor(m => m.Patient.Birthday)</p>
<p>@Html.LabelFor(m => m.Patient.Login)</p>
<p>@Html.EditorFor(m => m.Patient.Login) @Html.ValidationMessageFor(m => m.Patient.Login)</p>
<p>@Html.LabelFor(m => m.Patient.Password)</p>
<p>@Html.EditorFor(m => m.Patient.Password) @Html.ValidationMessageFor(m => m.Patient.Password)</p>
<p>@Html.LabelFor(m => m.Patient.Policy)</p>
<p>@Html.EditorFor(m => m.Patient.Policy) @Html.ValidationMessageFor(m => m.Patient.Policy)</p>
<p>@Html.LabelFor(m => m.Patient.Card)</p>
<p>@Html.EditorFor(m => m.Patient.Card) @Html.ValidationMessageFor(m => m.Patient.Card)</p>