@using Health.Core.Entities.POCO
@using Health.Site.Extensions
@model IEnumerable<Patient>

@if (Model.IsNullOrCountIsZero())
{
    <h2>Пациентов нету</h2>
}
else
{
    Patient pat = Model.ElementAt(0);
    <table>
        <tr>            
            <td>@Html.LabelFor(m => pat.Id)</td>
            <td>@Html.LabelFor(m => pat.Login)</td>
            <td>@Html.LabelFor(m => pat.FullName)</td>   
            <td>@Html.LabelFor(m => pat.Doctor)</td> 
            <td colspan="3">Функции</td>        
        </tr>
        @foreach (Patient patient in Model)
        {
            <tr>
                <td>@patient.Id</td>
                <td>@patient.Login</td>
                <td>@patient.FullName</td>
                <td>@patient.Doctor.FullName</td>
                <td>@Html.RouteLink("Подробнее", "Admin_default", new {id = patient.Id, controller = "Patients", action = "Show"})</td>       
                <td>@Html.RouteLink("Удалить", "Admin_delete", new {id = patient.Id, controller = "Patients"})</td>       
                <td>@Html.RouteLink("Редактировать", "Admin_default", new{id = patient.Id, controller = "Patients", action = "Edit"})</td>  
            </tr>
        }
    </table>
}